@keyframes moveStars{

    from{
        background-position:0 0;
    }

    to{
        background-position:500px 1000px;
    }

}

.shooting-star{

    position:absolute;

    width:120px;
    height:2px;

    background:white;

    transform:rotate(-45deg);

    animation:shoot 3s linear infinite;

}


@keyframes shoot{

    0%{

        transform:
        translate(0,0)
        rotate(-45deg);

        opacity:1;

    }


    100%{

        transform:
        translate(-700px,700px)
        rotate(-45deg);

        opacity:0;

    }

}



.typing{

    border-right:3px solid white;

    animation:blink .7s infinite;

}



@keyframes blink{

    50%{

        border-color:transparent;

    }

}